.CurrentTime {
  height: 56px;
}

.CurrentTime__inner {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  
  background-color: lightslategray;
  color: snow;

  position: fixed;
  top: 0;
  width: 500px;
  max-width: 100%;
}